

{{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}

<div class="container index">
  <div class="row index-row justify-content-center align-items-center">
   <div class="content" id="cuadro">
      <h2 class="card-title">New trainer?</h2>



<form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit" id="submit">Submit</button>
</form>