<div class="container index">
  <div class="row index-row justify-content-center align-items-center">
    <div class="content">
      <h2 class="card-title">Welcome Trainer</h2>
      <h1 class="card-subtitle">Complete your collection</h1>

      {{#if user}}
       
      
      {{else}}
        <div class="btn-index">
          <a href="/auth/login" class="btn btn-light">Login</a>
          <a href="/auth/signup" class="btn btn-light">Signup</a>

        </div>
      {{/if}}
    </div>

  </div>

</div>