<div class= "container">
<h1>Welcome Trainer {{user.username}}</h1>

    <div class="row">
  {{#each user.favorites}}

  <div class= "col-4" id="pcards">
    <img id= "border" src={{images}} alt={{images}} />

    <form action="/delete-favorite" method="POST">
      <input type="hidden" name="id" value={{_id}} />

      <button type="submit" Id="delete">Delete</button>
    </form>
    </div>
  {{/each}}
</div>
</div>
