@font-face {
  font-family: "pokemon-font";
  src: url("../fonts/pokemon-font.eot"); /* IE9 Compat Modes */
  src: url("../fonts/pokemon-font.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/pokemon-font.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/pokemon-font.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/pokemon-font.ttf")
      format("truetype"); /* Safari, Android, iOS */
  /* There is no SVG version of this font due to support being dropped in SVG 2 */
}

body {
  background-image: url(../images/45634.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 10px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", monospace;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.navbar-light .navbar-nav .nav-link {
  color: #fafeff;
  background-color: #ff1008;
  font-size: 25px;
}

.container-fluid {
  background-color: #ff1008;
}

.error {
  color: red;
}
.d-flex {
  background-color: #fafeff;
}

/* FOOTER GENERIC */

footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
}

footer p {
  color: #000000;
  padding-top: 1%;
  padding-left: 1%;
  padding-left: 48%;
}

#navbarSupportedContent {
  display: flex;
  flex-direction: row;
  position: relative;
}

.card {
  background-color: transparent;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

#delete {
  font-size: 20px;
  border: 3px solid black;
  border-radius: 20px;
}

#add {
  font-size: 20px;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  width: 33.33%;
}

#pcards {
  width: 35vh;
}

.index {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: white solid 5px;
  margin-top: 20vh;
  color: #fff;
  display: flex;

  width: 40vw;
}
.index .row {
  width: 40vw;
}

.index .content {
  padding: 10% 0;
}

.btn-index {
  display: flex;
  justify-content: center;
}

.btn-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.p {
  font-size: 50px;
  color: #00b7ff;
}

#border {
  border: 2px solid rgb(0, 0, 0);
}

label {
  width: 300px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-size: 25px;
}
