@font-face {
  font-family: "pokemon-font";
  src: url("../fonts/pokemon-font.eot"); /* IE9 Compat Modes */
  src: url("../fonts/pokemon-font.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/pokemon-font.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/pokemon-font.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/pokemon-font.ttf")
      format("truetype"); /* Safari, Android, iOS */
  /* There is no SVG version of this font due to support being dropped in SVG 2 */
}

body {
  background-image: url(../images/45634.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 10px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", monospace;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  color: #000000;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 10px;
  text-shadow: 2px 2px 0 #aaa, 12px 12px 8px rgb(255, 238, 0);
}
.navbar-light .navbar-nav .nav-link {
  color: #000000;

  font-size: 25px;
}

.container-fluid {
  background-color: #ff1008;
}

.error {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
  margin-right: 200px;
}

/* FOOTER GENERIC */

footer {
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: end;
  margin-top: 1em;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 5px;
}

footer p {
  font-size: 15px;
  color: #000000;
  display: flex;
  text-align: center;
  margin-bottom: 0em;
}

#navbarSupportedContent {
  display: flex;
  flex-direction: row;
  position: relative;
}

.card {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.index {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: white solid 5px;
  margin-top: 20vh;
  color: #fff;
  display: flex;

  width: 40vw;
}
.index .row {
  width: 40vw;
}

.index .content {
  padding: 10% 0;
}

.btn-index {
  display: flex;
  justify-content: center;
}

.btn-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
}

#border {
  border: 2px solid rgb(0, 0, 0);
}

label {
  width: 300px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-size: 25px;
}

#cuadro {
  padding-left: 180px;
}

#submit {
  font-size: 20px;
  color: #fafeff;
  margin-top: 5px;
  margin-left: 150px;
  background: linear-gradient(
    to bottom,
    rgb(255, 0, 0),
    rgb(0, 0, 0) 50%,
    rgb(255, 255, 255)
  );
}
h2 {
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 0 #aaa, 12px 12px 8px rgb(255, 238, 0);
}
h1 {
  text-align: center;
  font-size: 30px;
}
h3 {
  text-align: center;
  font-size: 50px;
  border: 5px solid black;
  background: linear-gradient(
    to bottom,
    rgb(0, 119, 255),
    rgb(0, 0, 0) 50%,
    rgb(255, 255, 255)
  );
}

.btn-light {
  background: linear-gradient(
    to bottom,
    rgb(255, 0, 0),
    rgb(0, 0, 0) 50%,
    rgb(255, 255, 255)
  );
  color: #fafeff;
}

#add {
  font-size: 20px;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  width: 33.33%;
  background: linear-gradient(
    to bottom,
    rgb(0, 119, 255),
    rgb(0, 0, 0) 50%,
    rgb(255, 255, 255)
  );
  color: #fafeff;
  margin-left: 100px;
  margin-top: -25px;
}
#delete {
  font-size: 20px;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  width: 33.33%;
  background: linear-gradient(
    to bottom,
    rgb(0, 119, 255),
    rgb(0, 0, 0) 50%,
    rgb(255, 255, 255)
  );
  color: #fafeff;
  margin-left: 100px;
  margin-top: -25px;
}

.profcards {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

#pcards {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#busqueda {
  background-color: #ffffff;
  border-radius: 5px;
}
#noborder {
  border: 0px;
}

#buttomsearch {
  color: white;
  border-radius: 0px 5px 5px 0px;
}
#buttomsearch:hover {
  background-color: white;
  color: black;
}
#buttonNP {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
#next {
  margin: 20px 20px 40px 20px;
  display: flex;
  justify-content: space-around;
  background-image: url(../images/next.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: center;
  color: transparent;
}
#prev {
  margin: 20px 20px 40px 20px;
  display: flex;
  justify-content: space-around;
  background-image: url(../images/prev.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: center;
  color: transparent;
}
